body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn, .form-control, .alert{
  border-radius: 0;  
}

.pad-zero{
  padding:0
}
.mt16{
  margin-top:16px;
}
.mt32{
  margin-top: 32px;
}
.mb24{
  margin-bottom: 24px;
}
.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control{
  font-size: 16px;
  height: 42px;
}
.inline{
  display:inline;
}
